(
  resources: {
    "sim::physics::SceneBox": (
      horizontal: (-400.0, 400.0),
      vertical: (-200.0, 200.0),
    ),
  },
  entities: {
    4294967296: (
      components: {
        "bevy_transform::components::transform::Transform": (
          translation: (0.0, -167.5, 0.0),
          rotation: (0.0, 0.0, -0.0, 1.0),
          scale: (1.0, 1.0, 1.0),
        ),
        "sim::model::BarrierModel": (
          x_half: 400.0,
          y_half: 20.0,
          color: (0.5, 0.5, 0.5, 1.0)
        ),
      },
    ),
  },
)